<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>PEG Grammar</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>

  <style>.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
  <style>
    body { padding-top:50px; }
    textarea {
      width: 100%;    
    }

    #grammar {
      height: 200px;
    }

    #submit {
      margin: 10px;
    }
  </style>

  <body class="container">
    <main>
      <div>
        <form action="/" method="POST">
          <h2>Grammar</h2>
          <div class="alert alert-info" role="alert">
            This is the grammar that makes the expression possible to work
          </div>
          <textarea id="grammar" name="grammar"><%=  data.grammar %></textarea>
  
          <h2>Expression</h2>
          <div class="alert alert-info" role="alert">
            Write the text expression to process
          </div>
          <textarea id="expression" name="expression"><%= data.expression %></textarea>
  
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button type="submit" class="btn btn-primary" id="submit">Parse Expression</button>
              </div>
            </div>
          </div>
  
          <h2>Text</h2>
          <div class="alert alert-dark" role="alert">
            <%= data.results %>
          </div>
        </form>
      </div>
    </main>
  </body>

  <script>
    var expressionEditor = CodeMirror.fromTextArea(document.getElementById("expression"), {
      lineNumbers: true,
      mode: "application/x-ejs",
      indentUnit: 4,
      indentWithTabs: true,
    });

    var grammarEditor = CodeMirror.fromTextArea(document.getElementById("grammar"), {
      lineNumbers: true,
      mode: "application/x-ejs",
      indentUnit: 4,
      indentWithTabs: true,
      theme: 'monokai',
    });
  </script>
</html>