<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>PEG Grammar</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
  <script type="text/javascript" src="https://codemirror.net/addon/mode/simple.js"></script> 

  <style>.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
  <style>
    body { padding-top:50px; }
    textarea {
      width: 100%;    
    }

    #grammar, #results {
      height: 200px;
    }

    #submit {
      margin: 10px;
    }

    .cm-style1{
      color: red;
    }
  </style>

  <body class="container">
    <main>
      <div>
        <form action="/" method="POST">  
          <h2>Template Expression</h2>

          <textarea id="expression" name="expression"><%= data.expression %></textarea>
  
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button type="submit" class="btn btn-primary" id="submit">Parse Template Below</button>
              </div>
            </div>
          </div>
  
          <h2>Template Processed</h2>
          <textarea id="results"><%= data.results %></textarea>
          
          <% if (data.parserError !== '') { %>
          <h2>Template Errors</h2>
          <div class="alert alert-danger" role="alert">
            <%= data.parserError %>
          </div>
          <% } %>
        </form>
      </div>
    </main>
  </body>

  <script>
    CodeMirror.defineSimpleMode("thl", {
      start: [
        {regex: /\[if condition='/, token: "variable-2"},
        {regex: /[\]\[|\'\]']/, token: "variable-2"},
        {regex: /\/if/, token: "variable-2"},
        {regex: /\else/, token: "variable-2"},
        {regex: /[-+\/*=<>!]+/, token: "operator"},
        {regex: /0x[a-f\d]+|[-+]?(?:\.\d+|\d+\.?\d*)(?:e[-+]?\d+)?/i, token: "number"},
        {regex: /[-+\/*=<>!]+/, token: "operator"},
        {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string"},
        {regex: /true|false/, token: "variable-3"},
      ],
    });

    var expressionEditor = CodeMirror.fromTextArea(document.getElementById("expression"), {
      lineNumbers: false,
      mode: "thl",
      lineNumbers: true,
    });
  </script>
</html>